[Desktop Entry]
Comment=
Comment[en_US]=
Comment[es]=
Encoding=UTF-8
Exec=
GenericName=
GenericName[en_US]=
GenericName[es]=
Icon=
MimeType=
Name=
Name[en_US]=
Name[es]=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Categories=
FilePattern=
TryExec=
Version=
